.header-container {
    height: var(--header-height);
    background-color: var(--primary);
    box-shadow: var(--header-box-shadow);
    width: 100% !important;
    padding: 0px;


    .side-top-bar {
        width: var(--side-top-bar-width);
        height: var(--header-height);
    }

    .main-top-bar {
        // width: calc(100% - var(--side-top-bar-width));
        height: var(--header-height);
    }
}
