<header class="header-container">
    <div class="grid grid-nogutter">
        <div #mainNavBar class="col-fixed main-top-bar"  [ngStyle]="{ 'width': mainNavBarResponsiveWidth }">
            <div class="grid grid-nogutter">
                <div class="col-12 pl-4">
                    <ng-container *ngIf="clientScrollWidth < ResponsiveConfig.XLARGE_BREAKPOINT">
                        <p-button icon="pi pi-bars" [rounded]="false" [text]="true" severity="danger" 
                        (click)="showSideBar()" />
                    </ng-container>

                    <ng-container *ngIf="clientScrollWidth >= ResponsiveConfig.XLARGE_BREAKPOINT">
                        <p-button icon="pi pi-bars" [rounded]="false" [text]="true" severity="danger" 
                        (click)="inactiveSideBar()" />
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</header>