
:root {
    --primary: #0d6efd;
    --secondary: #22d3ee;
    --tertiary: #fb923c;
    --quaternary: #94a3b8;

    --dark: #334155;


    --danger: #de3b40;
    --warning: #efb034;
    --success: #1dd75b;
    --info: #379ae6;
}

 
  