<div class="grid grid-nogutter">
    <div class="col-12">
        <p-panelmenu [model]="sideBarItems" styleClass="church-campus-admin-sidebar-menu">
            <ng-template #item let-item>
                <ng-container *ngIf="item.id === SideBarItemType.HEADER; else itemTemplate">
                    <p>{{item.label}}</p>
                </ng-container>

                <ng-template #itemTemplate>
                        <a  *ngIf="item.route; else urlRef" class="flex align-items-center
                            cursor-pointer text-color px-3 py-2"
                            [routerLink]="item.route" >
                            <!-- <span [class]="item.icon"></span> -->
                             <img [src]="item.icon" />
                            <span class="ml-2">{{ item.label }}</span>
                        </a>
                    <ng-template #urlRef>
                        <a *ngIf="item.url; else noLink" [href]="item.url" class="flex align-items-center
                            cursor-pointer text-color px-3 py-2">
                            <img [src]="item.icon" />
                            <span class="ml-2">{{ item.label }}</span>
                        </a>
                        <ng-template #noLink>
                            <span class="flex items-center cursor-pointer text-surface-700 dark:text-surface-0 px-4 py-2">
                                <img [src]="item.icon" />
                                <span class="ml-2">{{ item.label }}</span>
                                <ng-container *ngIf="item.items && item.items.length > 0">
                                    <i  class="pi ml-auto" [ngClass]="item.expanded ? 'pi-angle-up primary' : ' pi-angle-down primary'"></i>
                                </ng-container>
                            </span>
                        </ng-template>
                    </ng-template>
                </ng-template> 
            </ng-template>
        </p-panelmenu>
    </div>
</div>