



::ng-deep .church-campus-admin-sidebar-menu .p-panelmenu-panel {
    overflow: hidden;
    border: none;
    padding: 0 !important;
}

::ng-deep .church-campus-admin-sidebar-menu .p-panelmenu-header[id*="HEADER"] {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;  

    p {
        color: var(--dark) !important;
    }
    .p-panelmenu-header-content {
        &:hover {
            background-color: white !important;
        }
    }
 
}


::ng-deep .church-campus-admin-sidebar-menu .p-panelmenu-header-active[id*="ITEM"] {
    background-color: var(--primary-light) !important;
    // color: var(--primary) !important;

    .p-panelmenu-header-content {
        color: var(--primary) !important;
    }
    // background-color: var(--active-menuitem-bg);
}

::ng-deep .church-campus-admin-sidebar-menu .p-panelmenu-header[id*="ITEM"] {
    font-size: 14px;

    .p-panelmenu-header-content {
        a {
            padding: 0.5rem !important;
            text-decoration: none;
        }

        span {
            padding-left: 0.5rem !important;
        }
    }
    .p-panelmenu-header-link  {
        padding:  0.5rem !important;
    }
}

::ng-deep .church-campus-admin-sidebar-menu .p-panelmenu-item[id*="ITEM"] {
    font-size: 14px;

    .p-panelmenu-item-content {
        a {
            text-decoration: none;
        }
    }
}
