.sidebar-container {
    .sidebar-header {
        min-height: var(--header-height);
        border-width: 1px 2px 1px 1px;
        border-style: solid;
        border-color: #e2e8f0;

        .user-info {
            width: 100%;

            p {
                font-size: 14px;
                font-weight: 700;
            }
        }
    }

    .sidebar-body {
        overflow: auto;
    }
}


::ng-deep .p-accordionpanel {
    border: 0px !important
}

::ng-deep .p-accordionpanel:first-child > .p-accordionheader {
    border-radius: 0 !important;
    border: 0px !important;
    padding: 1rem !important
}

::ng-deep .p-accordioncontent-content  {
    padding: 0 1.125rem 1.125rem 0.3rem !important;
}

::ng-deep .sidebar-header-menu {
    // padding: 0 !important;
    border: 0 !important;
}

